@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
body {
    margin: 0;
    font-family: "Asap", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    background: #131a33 !important
}

code {
    font-family: Asap, sans-serif;
}

a {
    text-decoration: none;
}

.loaderStyle {
    height: calc(var(--app-height) - 100px);
}
.ql-editor{
    min-height: 80px;
}
.ql-editor.ql-blank::before{
    font-size: 15px;
    font-style: normal;
}
#mui-rte-Save-button {
    position: absolute;
    top: 100%;
    right: 95%;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 6px;
}

.jFanTw {
    overflow-y: hidden !important;
    max-height: 100% !important;
}





/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #7b7e80;
    border-radius: 10px;
}


.MuiTableCell-stickyHeader{
    background-color: #131a33 !important;
    color:white !important
}
.MuiTableContainer-root {

    color: white !important;
    background-color: #131a33 !important;
};

.apexcharts-tooltip {
    background: white !important;
    color: black !important;
  }
/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #989a9c;
}

.dateStyle .MuiInput-underline:before,
.MuiInput-underline:after {
    content: unset !important;
    content: unset !important;
}

.dateStyle .MuiInputBase-inputAdornedEnd {
    margin-left: 10px;
}

.rdw-editor-main {
    min-height: 100px;
    overflow: unset;
}

.rdw-dropdown-optionwrapper {
    max-height: 132px;
}

.rdw-image-modal {
    right: 0;
    left: unset;
}

.rdw-link-modal {
    right: 0;
    left: unset;
}

.rdw-suggestion-option {
    cursor: pointer;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently */
}